#jsx, #transition, #react-state, #node, #media-query, #es6 { 
    position: absolute; 
    font-size: 65%; 
    opacity: 0; 
}

#jsx                        { top: 6%; left: 10%; } 
#media-query                { top: 42.5%; left: 20%; }
#react-state                { top: 75%; left: 7.5%; }
#transition                 { top: 37.5%; left: 27.5%; } 
#es6                        { top: 5%; left: 25%; }
#node                       { top: 82.5%; left: 30%; } 

/* ------------------------------------------------------------------------------------------ 
    ANIMATIONS
------------------------------------------------------------------------------------------ */

@keyframes codeAnimation {
    0%      { opacity: 0; }
    7.5%    { opacity: 1; }
    15%     { opacity: 1; }
    19%     { opacity: 0; }
}

@-webkit-keyframes codeAnimation {
    0%      { opacity: 0; }
    7.5%    { opacity: 1; }
    15%     { opacity: 1; }
    19%     { opacity: 0; }
}

#jsx { 
    animation: codeAnimation 30s ease-in-out infinite forwards; 
    -webkit-animation: codeAnimation 30s ease-in-out infinite forwards; 
} 

#media-query {
    animation: codeAnimation 30s ease-in-out 5s infinite forwards; 
    -webkit-animation: codeAnimation 30s ease-in-out 5s infinite forwards; 
}

#react-state { 
    animation: codeAnimation 30s ease-in-out 10s infinite forwards; 
    -webkit-animation: codeAnimation 30s ease-in-out 10s infinite forwards; 
} 

#transition { 
    animation: codeAnimation 30s ease-in-out 15s infinite forwards; 
    -webkit-animation: codeAnimation 30s ease-in-out 15s infinite forwards; 
} 

#es6 {
    animation: codeAnimation 30s ease-in-out 20s infinite forwards; 
    -webkit-animation: codeAnimation 30s ease-in-out 20s infinite forwards; 
}

#node { 
    animation: codeAnimation 30s ease-in-out 25s infinite forwards; 
    -webkit-animation: codeAnimation 30s ease-in-out 25s infinite forwards; 
} 

/* ------------------------------------------------------------------------------------------ 
    MEDIA QUERIES
------------------------------------------------------------------------------------------ */

@media (max-width: 320px) {
    #jsx, #media-query, #react-state, #transition, #es6, #node { font-size: 60%; }
    #react-state                                { top: 80%; left: 4%;  }
    #node                                       { top: 87.5%; left: 17.5%;  } 
}

@media (min-width: 768px) {
    #jsx, #media-query, #react-state, #transition, #es6, #node { font-size: 110%; }
    #media-query                                { left: 35%; }
    #react-state                                { top: 80%; left: 12.5%; }
    #transition                                 { top: 45%; left: 30%; }
    #es6                                        { left: 35%; top: 4%; }
    #node                                       { left: 37.5%;  }
}

@media (min-width: 1000px) {
    #jsx, #media-query, #react-state, #transition, #es6, #node { font-size: 140%; }
    #react-state                                { top: 82.5%; left: 10%; }
    #transition                                 { top: 40%; left: 25%; }
    #es6                                        { left: 37.5%; top: 4%; }
    #node                                       { left: 42.5%;  }
}

@media (min-width: 768px) and (max-height: 577px) {
    #jsx, #media-query, #react-state, #transition, #es6, #node { font-size: 65%; }
    #jsx                                        { top: 7.5%; left: 5%; }
    #media-query                                { left: 40%; top: 45%;  }
    #react-state                                { top: 80%; left: 5%; }
    #transition                                 { top: 47.5%; left: 42.5%; }
    #es6                                        { top: 7%; left: 60%; }
    #node                                       { top: 85%; left: 62.5%; }
}

@media (min-width: 1000px) and (max-height: 577px) {
    #jsx, #media-query, #react-state, #transition, #es6, #node { font-size: 70%; }
    #jsx                                        { top: 11%; }
    #media-query                                { left: 60%; }
    #transition                                 { top: 42.5%; left: 30%; }
    #es6                                        { left: 65%; }
    #node                                       { top: 80%; left: 72.5%; }
}